<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="wrapper">
        <form action='/users' method='post'>
            <label for="yourname">Your Name</label>
            <input type="text" class="formstuff" name="yourname" id="yourname" placeholder="Your name..">
            <div class="spacer"></div>
            <label for="location">Your Location</label>
            <select name="location" id="location">
                <option value="Seattle">Seattle </option>
                <option value="Silicon Valley">Silicon Valley </option>
                <option value="Burbank">Burbank</option>
                <option value="Chicago">Chicago </option>
                <option value="Washington D.C.">Washington D.C. </option>
                <option value="Dallas">Dallas </option>
                <option value="Tulsa">Tulsa</option>
            </select>
            <div class="spacer"></div>
            <label for="lang">Favorite Language</label>
            <select  name="lang" id="lang">
                <option value="Python">Python</option>
                <option value="Html">Html</option>
                <option value="C++">C++</option>
                <option value="Mandarin">Mandarin</option>
            </select>
            <div class="spacer"></div>
            <label for="comment">Comment</label>
            <textarea name="comment" id="comment" placeholder="Write something.."></textarea>
            <div class="spacer"></div>
            <input type='submit' value='Enter to Submit'>
        </form>
    </div>
</body>
</html>