<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>

   <h2>Projects</h2>
   <table>
       <tr>
           <th>Project</th>
           <th>Status</th>
       </tr>
       <tr>
           <td>Save the World!</td>
           <td>Pending</td>
       </tr>
       <tr>
           <td>Save Denver, Colorado</td>
           <td>In Progress</td>
       </tr>
       <tr>
           <td>Save 30 cents</td>
           <td>Completed</td>
       </tr>

   </table>
</body>
</html>