p {
    display: inline-block;
    margin: 0px;
}
#updateid {
    width: 42px;
}
#occupation {
    width: 97px;
}
#failure {
    background-color: red;
    color: white;
}
#success {
    background-color: green;
    color: black;
}