<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="static/css/styles.css"> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script> -->
    <script src='../static/js/jquery-3.2.1.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Email Validation</title>
    <script>
        $(document).ready(function(){

        }) // End Doc ready
    </script>
    
</head>
<body>
>>>>> In Progress 
    <h2>Enter Email</h2>
    <form action='/process' method='POST' >
      <label for="email">Email:<input type="text" name="email" id="email"></label>
      <input type="submit" value="Add">
    </form>
  
  </body>
  </html>