<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <style>
        .wrapper {
            margin: 0px auto;
        }
        img {
            display: block;
            margin: 0px auto;
            width: 100px;
        }
        h1 {
            color: red;
        }
    </style>
    <title>Disappearing Ninjas Home</title>
</head>
<body>
    <div class="wrapper">
        <h1>Disappearing Ninja - Home Page</h1>
        <h2>No Ninja's here!</h2>
        <img src="{{ url_for('static', filename='images/tmnt.png') }}", alt="ninjas logo">
        <form action='/ninja' method='post'>
            <label for="color">Enter a color</label>
            <textarea name = "color" id="color"></textarea>
            <input type='submit' value='Enter to Submit'>
        </form>
    </div> <!-- End wrapper -->
</body>
</html>